<form action="/result">
  <input type="radio" name="vote" value="1">
  <input type="radio" name="vote" value="2">
  <input type="radio" name="vote" value="3">
  <input type="radio" name="vote" value="4">
  <input type="submit" value="submit" />
  
</form>
