<!Doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> op.gg </title>
  </head>
  <body>
    <form action="http://localhost:4567/lol"><br>
      유저 이름
      <input type="text" name= "username" />
      <input type="submit" value="검색하기"/>
  </body>

</html>
