<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      board
    </title>
      </head>
  <body>
    <form action="/complete">
      <input type="text" name="title" placeholder="TITLE" />
      <br />
      <textarea name="content" placeholder="Write anything you want."></textarea>
      <input type="submit" value="write" />
    </form>
  </body>
</html>
