
<!Doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> 멜론 페이지 </title>

  </head>
  <body>
    <h2> 멜론 실시간 검색어 순위 </h2>
    1. <%= @first%><br />
    2. <%= @second%><br />
    3. <%= @third%><br />
    <form action="/melonresult"><br>
    <h2> 가수 검색하기 </h2>
      <input type="text" name= "qwert" />
      <input type="submit" value="검색하기"/>

  </body>

</html>
